@page "/TongQuan"
@model QuanLyQuanAn.Pages.QuanLyChiNhanh.IndexModel

@{
    var top5mon = ViewData["Top5MonGoi"] as IEnumerable<dynamic>;

    var dates = ViewData["Dates"] as IEnumerable<string>;
    var hoadonData = ViewData["HoaDonData"] as IEnumerable<int>;
    var doanhthuData = ViewData["DoanhThuData"] as IEnumerable<double>;
    var khachhangData = ViewData["KhachHangData"] as IEnumerable<int>;

    // var dates = ViewBag.Dates as List<string>;
    // var hoaDonData = ViewBag.HoaDonData as List<int>;
    // var doanhThuData = ViewBag.DoanhThuData as List<double>;
    // var khachHangData = ViewBag.KhachHangData as List<int>;
}

<div class="pagetitle">
    <h1>Tổng quan</h1>
    <nav>
        <ol class="breadcrumb">
            @* <li class="breadcrumb-item"><a href="">Trang chủ</a></li> *@
            <li class="breadcrumb-item active">Tổng quan</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- HoaDon Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Hóa đơn <span>| Hôm nay</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.hoadonhomnay</h6>
                                    @if (Model.phantramhoadon > 0)
                                    {
                                        <span class="text-success small pt-1 fw-bold">@Model.phantramhoadon</span> <span class="text-muted small pt-2 ps-1">tăng</span>
                                    }
                                    else if (Model.phantramhoadon < 0)
                                    {
                                        <span class="text-success small pt-1 fw-bold">@Model.phantramhoadon</span> <span class="text-muted small pt-2 ps-1">giảm</span>
                                    }
                                    else
                                    {
                                        
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Sales Card -->

                <!-- DoanhThu Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Doanh thu <span>| Hôm nay</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.tongtienhomnay</h6>
                                    @if (Model.phantramdoanhthu > 0)
                                    {
                                         <span class="text-success small pt-1 fw-bold">@Model.phantramdoanhthu</span> <span class="text-muted small pt-2 ps-1">tăng</span>
                                    }
                                    else if (Model.phantramdoanhthu < 0)
                                    {
                                        <span class="text-success small pt-1 fw-bold">@Model.phantramdoanhthu</span> <span class="text-muted small pt-2 ps-1">giảm</span>
                                    }
                                    else
                                    {
                                        
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End DoanhThu Card -->

                <!-- KhachHang Card -->
                <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Khách hàng <span>| Hôm nay</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.khachhanghomnay</h6>
                                    @if (Model.phantramkhachhang > 0)
                                    {
                                        <span class="text-success small pt-1 fw-bold">@Model.phantramkhachhang</span> <span class="text-muted small pt-2 ps-1">tăng</span>
                                    }
                                    else if (Model.phantramkhachhang < 0)
                                    {
                                        <span class="text-success small pt-1 fw-bold">@Model.phantramkhachhang</span> <span class="text-muted small pt-2 ps-1">giảm</span>
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End KhachHang Card -->

                <!-- Bieu do -->
                <div class="col-12">
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Chế độ xem</h6>
                                </li>

                                <li><a class="dropdown-item" href="#" data-filter="day">Theo ngày</a></li>
                                <li><a class="dropdown-item" href="#" data-filter="week">Theo tuần</a></li>
                                <li><a class="dropdown-item" href="#" data-filter="month">Theo tháng</a></li>
                                <li><a class="dropdown-item" href="#" data-filter="year">Theo năm</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Biểu đồ doanh thu <span id="filter-title">| Hôm nay</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChart"></div>

                            @*----------------- Biểu đồ doanh thu hôm nay ----------------*@
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Hóa Đơn',
                                            data: [@Model.hoadonhomqua, @Model.hoadonhomnay],
                                        }, {
                                            name: 'Doanh Thu',
                                            data: [@Model.tongtienhomqua, @Model.tongtienhomnay]
                                        }, {
                                            name: 'Khách Hàng',
                                            data: [@Model.khachhanghomqua, @Model.khachhanghomnay]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: ["@Model.yesterday", "@Model.today"]
                                        },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy'
                                            },
                                        }
                                    }).render();
                                });
                            </script>

                            @*----------------- Biểu đồ doanh thu 7 ngày -----------------*@
                            @* <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Hóa Đơn',
                                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(hoadonData))
                                            }, {
                                            name: 'Doanh Thu',
                                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(doanhthuData))
                                            }, {
                                            name: 'Khách Hàng',
                                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(khachhangData))
                                            }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(dates))
                                            },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy'
                                            },
                                        }
                                    }).render();
                                });
                            </script> *@
                            <!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End bieu do -->

                <!-- Ds hoa don hom nay -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">                       

                        <div class="card-body">
                            <h5 class="card-title">Hóa đơn <span>| Hôm nay</span></h5>
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr class="table-secondary">
                                        <th scope="col">#</th>
                                        <th scope="col">Mã HĐ</th>
                                        <th scope="col">Tổng tiền</th>
                                        <th scope="col">Giờ vào</th>
                                        <th scope="col">Giờ ra</th>
                                        @* <th scope="col"></th> *@
                                        <th scope="col">Trạng thái</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        var i = 1;
                                    }
                                    @foreach (var hoadon in Model.HoaDonHomNays)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@hoadon.Id</td>
                                            <td>@hoadon.TongTien.000</td>
                                            <td>@hoadon.GioVao.Value.ToString("HH:mm")</td>
                                            <td>@(hoadon.GioRa.HasValue ? hoadon.GioRa.Value.ToString("HH:mm") : "00:00")</td>
                                            @if (hoadon.TrangThai == "ThanhToan")
                                            {
                                                <td class="green"><span class="badge bg-success">Đã thanh toán</span></td>
                                            }
                                            else if (hoadon.TrangThai == "KhoiTao")
                                            {
                                                <td class="green"><span class="badge bg-secondary">Đang phục vụ</span></td>
                                            }
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->
            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">


            <!-- Top Selling -->
            <div class="col-12">
                <div class="card top-selling overflow-auto">
                    <div class="card-body pb-0">
                        <h5 class="card-title">Món ăn bán chạy</h5>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Hình ảnh</th>
                                    <th scope="col">Tên món ăn</th>
                                    <th scope="col">Giá bán</th>
                                    <th scope="col">SL đã bán</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                @if (top5mon != null && top5mon.Any())
                                {
                                    foreach (var montop in top5mon)
                                    {
                                        foreach (var mon in Model.MonAns.Where(m => m.Id == montop.IdMonGoi))
                                        {
                                            <tr>
                                                <th scope=><a href="#"><img src="@mon.AnhDaiDien" alt=""></a></th>
                                                <td class="text-primary fw-bold"><span class="text-secondary" style="font-size: 12px;">@mon.IdLoaiMonNavigation.TenLoaiMon</span> | @mon.TenMon</td>
                                                <td class="text-center">@mon.GiaBan</td>
                                                <td class="fw-bold text-center">@montop.SoLuong</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div><!-- End Top Selling -->

            <!-- Top DiemTichLuy KhachHang -->
            <div class="card">               

                <div class="card-body">
                    <h5 class="card-title">Bảng điểm tích lũy</h5>

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Mã khách hàng</th>
                                <th scope="col">Tên khách hàng</th>
                                <th scope="col">Điểm tích lũy</th>
                                @* <th scope="col">Giờ vào</th>
                                <th scope="col">Giờ ra</th>
                                <th scope="col"></th>
                                <th scope="col">Trạng thái</th> *@
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                var o = 1;
                            }
                            @foreach (var kh in Model.KhachHangHomNays)
                            {
                                <tr>
                                    <th scope="row">@o</th>
                                    <td>@kh.Id</td>
                                    <td>@kh.HoTen</td>
                                    <td>@kh.DiemTichLuy</td>
                                    @* <td>@hoadon.GioRa.Value.ToString("HH:mm")</td>
                                    @if (hoadon.TrangThai == "ThanhToan")
                                    {
                                        <td class="green"><span class="badge bg-success">Đã thanh toán</span></td>
                                    }
                                    else if (hoadon.TrangThai == "KhoiTao")
                                    {
                                        <td class="green"><span class="badge bg-secondary">Đang phục vụ</span></td>
                                    } *@
                                </tr>
                                o++;
                            }
                        </tbody>
                    </table>

                </div>
            </div><!-- End Top DiemTichLuyKhachHang -->

            <!-- Budget Report -->
            @* <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Budget Report <span>| This Month</span></h5>

                    <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                legend: {
                                    data: ['Allocated Budget', 'Actual Spending']
                                },
                                radar: {
                                    // shape: 'circle',
                                    indicator: [{
                                        name: 'Sales',
                                        max: 6500
                                    },
                                    {
                                        name: 'Administration',
                                        max: 16000
                                    },
                                    {
                                        name: 'Information Technology',
                                        max: 30000
                                    },
                                    {
                                        name: 'Customer Support',
                                        max: 38000
                                    },
                                    {
                                        name: 'Development',
                                        max: 52000
                                    },
                                    {
                                        name: 'Marketing',
                                        max: 25000
                                    }
                                    ]
                                },
                                series: [{
                                    name: 'Budget vs spending',
                                    type: 'radar',
                                    data: [{
                                        value: [4200, 3000, 20000, 35000, 50000, 18000],
                                        name: 'Allocated Budget'
                                    },
                                    {
                                        value: [5000, 14000, 28000, 26000, 42000, 21000],
                                        name: 'Actual Spending'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Budget Report --> *@

            <!-- Website Traffic -->
            @* <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Website Traffic <span>| Today</span></h5>

                    <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Access From',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: [{
                                        value: 1048,
                                        name: 'Search Engine'
                                    },
                                    {
                                        value: 735,
                                        name: 'Direct'
                                    },
                                    {
                                        value: 580,
                                        name: 'Email'
                                    },
                                    {
                                        value: 484,
                                        name: 'Union Ads'
                                    },
                                    {
                                        value: 300,
                                        name: 'Video Ads'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Website Traffic --> *@

            <!-- News & Updates Traffic -->
            @* <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="assets/img/news-1.jpg" alt="">
                            <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                            <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-2.jpg" alt="">
                            <h4><a href="#">Quidem autem et impedit</a></h4>
                            <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-3.jpg" alt="">
                            <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                            <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-4.jpg" alt="">
                            <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                            <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-5.jpg" alt="">
                            <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                            <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates --> *@

        </div><!-- End Right side columns -->

    </div>
</section>
