@page "/DongCaLam"
@model QuanLyQuanAn.Pages.CaTruc.DongCaLamModel

@{
    Layout = string.Empty;
}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Đóng ca làm - TCT Group</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="~/customize/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/customize/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/customize/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/customize/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="~/customize/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="~/customize/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/customize/vendor/simple-datatables/style.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="~/customize/css/style.css" rel="stylesheet">

        <!-- =======================================================
        * Template Name: NiceAdmin
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Updated: Mar 17 2024 with Bootstrap v5.3.3
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>
        <main>
            <div class="container">
                <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                                <div class="d-flex justify-content-center py-4">
                                    <a href="" class="logo d-flex align-items-center w-auto">
                                        <img src="assets/img/logo.png" alt=""> @*----- LOGO -----*@
                                        <span class="d-none d-lg-block">TCT Group</span>@*----- TÊN QUÁN -----*@
                                    </a>
                                </div><!-- End Logo -->

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="pt-4 pb-2">
                                            <h5 class="card-title text-center pb-0 fs-4">Đóng ca làm</h5>
                                            @* <p class="text-center small">Enter your username & password to login</p> *@
                                        </div>

                                        @if (Model.vaitro == "ThuNgan") 
                                        {
                                            <form method="post" class="row g-3 needs-validation" enctype="multipart/form-data" novalidate>
                                                <div class="col-12">
                                                    <label for="TenNhanVien" class="form-label">Nhân viên</label>
                                                    <div class="input-group has-validation">
                                                        @* <span class="input-group-text" id="inputGroupPrepend"></span> *@
                                                        <input type="text" name="TenNhanVien" class="form-control" id="TenNhanVien" value="@(ViewData["NhanVien"] ?? Model.NhanVien?.HoTen)" readonly>
                                                        @* <div class="invalid-feedback">Please enter your username.</div> *@
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <label for="TienDauCa" class="form-label">Tiền đầu ca</label>
                                                    <div class="input-group has-validation">
                                                        <input type="number" name="TienDauCa" class="form-control" id="TienDauCa" value="@(ViewData["TienDauCa"] ?? Model.CaLam?.TienDauCa)" readonly>
                                                        <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <label for="TienTrongCa" class="form-label">Tiền trong ca</label>
                                                    <div class="input-group has-validation">
                                                        <input type="number" name="TienTrongCa" class="form-control" id="=TienTrongCa" value="@(ViewData["TienTrongCa"] ?? Model.CaLam?.TienTrongCa)" readonly>
                                                        <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <label for="TienBanGiao" class="form-label">Tiền bàn giao</label>
                                                    <div class="input-group has-validation">
                                                        <input type="number" name="Input.TienBanGiao" class="form-control" min="0" required>
                                                        <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>
                                                    </div>
                                                </div>

                                                @* @{
                                                    // Khai báo biến isHidden bên ngoài khối if
                                                    var isHidden = false;

                                                    // Lấy giá trị của ViewData["TienChenhLech"] và chuyển đổi thành chuỗi
                                                    var tienchenhlech = ViewData["TienChenhLech"]?.ToString();

                                                    // Kiểm tra độ dài của chuỗi tienChenhLech
                                                    if (!string.IsNullOrEmpty(tienchenhlech) && tienchenhlech.Length > 0)
                                                    {
                                                        isHidden = false; // Có giá trị, không ẩn
                                                    }
                                                    else
                                                    {
                                                        isHidden = true; // Không có giá trị, ẩn
                                                    }
                                                }

                                                @if (!isHidden)
                                                {
                                                    <div class="col-12">
                                                        <label for="TienChenhLech" class="form-label">Tiền chênh lệch</label>
                                                        <div class="input-group has-validation">
                                                            <input type="number" name="TienChenhLech" class="form-control" id="TienChenhLech" value="@(ViewData["TienChenhLech"] ?? "")" readonly>
                                                            <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>
                                                        </div>
                                                    </div>
                                                } *@

                                                @if (ViewData["TienChenhLech"] != null && ViewData["TienChenhLech"].ToString().Length > 0)
                                                {
                                                    <div class="col-12">
                                                        <label for="TienChenhLech" class="form-label">Tiền chênh lệch</label>
                                                        <div class="input-group has-validation">
                                                            <input type="number" name="TienChenhLech" class="form-control" id="TienChenhLech" value="@(ViewData["TienChenhLech"])" readonly>
                                                            <span class="input-group-text">.000 VNĐ</span>
                                                        </div>
                                                    </div>  
                                                }

                                                @* <div class="col-12">
                                                    <label for="ghichu" class="form-label">Ghi chú</label>
                                                    <div class="input-group has-validation">
                                                        <textarea name="Input.GhiChu" class="form-control @(ModelState.ContainsKey("Input.GhiChu") && ModelState["Input.GhiChu"].Errors.Any() ? "is-invalid" : "")" id="GhiChu"></textarea>
                                                        @if (ModelState.ContainsKey("Input.GhiChu") && ModelState["Input.GhiChu"].Errors.Any())
                                                        {
                                                            <div class="invalid-feedback">
                                                                @foreach (var error in ModelState["Input.GhiChu"].Errors)
                                                                {
                                                                    @error.ErrorMessage
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                </div> *@

                                                <div class="col-1"></div>

                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100" type="submit">Đóng ca làm</button>
                                                </div>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" class="row g-3 needs-validation" enctype="multipart/form-data" novalidate>
                                                <div class="col-12">
                                                    <label for="TenNhanVien" class="form-label">Nhân viên</label>
                                                    <div class="input-group has-validation">
                                                        @* <span class="input-group-text" id="inputGroupPrepend"></span> *@
                                                    <input type="text" name="TenNhanVien" class="form-control" id="TenNhanVien" value="@Model.NhanVien?.HoTen" readonly>
                                                        @* <div class="invalid-feedback">Please enter your username.</div> *@
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <label for="TienDauCa" class="form-label">Tiền đầu ca</label>
                                                    <div class="input-group has-validation">
                                                        <input type="number" name="TienDauCa" class="form-control" id="TienDauCa" value="@Model.CaLam?.TienDauCa" readonly>
                                                        <input type="hidden" name="Input.TienBanGiao" class="form-control" id="TienBanGiao" value="0" reaonly>
                                                        <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>                                                    
                                                    </div>
                                                </div>

                                                @* <div class="col-12">
                                                    <label for="TienTrongCa" class="form-label">Tiền trong ca</label>
                                                    <div class="input-group has-validation">
                                                        <input type="number" name="TienTrongCa" class="form-control" id="=TienTrongCa" value="0" readonly>
                                                        <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>                                                    
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <label for="TienBanGiao" class="form-label">Tiền bàn giao</label>
                                                    <div class="input-group has-validation">
                                                        <input type="number" name="Input.TienBanGiao" class="form-control" id="TienBanGiao" value="0" reaonly>
                                                        <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>                                                    
                                                    </div>
                                                </div>
                                                

                                                <div class="col-12">
                                                    <label for="ghichu" class="form-label">Ghi chú</label>
                                                    <div class="input-group has-validation">
                                                        <textarea name="Input.GhiChu" class="form-control @(ModelState.ContainsKey("Input.GhiChu") && ModelState["Input.GhiChu"].Errors.Any() ? "is-invalid" : "")"></textarea>                                                        
                                                    </div>
                                                </div> *@

                                                <div class="col-1"></div>

                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100" type="submit">Đóng ca làm</button>
                                                </div>                                                
                                            </form>
                                        }
                                    </div>
                                </div>

                                <div class="credits">
                                    <!-- All the links in the footer should remain intact. -->
                                    <!-- You can delete the links only if you purchased the pro version. -->
                                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                    @* Thiết kế bởi <a href="https://bootstrapmade.com/">LeDNhuan</a> *@
                                </div>

                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </main><!-- End #main -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        
        <!-- Vendor JS Files -->
        <script src="~/customize/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/customize/vendor/quill/quill.min.js"></script>
        <script src="~/customize/vendor/tinymce/tinymce.min.js"></script>

        <!-- Template Main JS File -->
        <script src="~/customize/js/main.js"></script>
    </body>
</html>
